<div class = "navbar navbar-default navbar-fixed-bottom">

  <div class = "container">
    <p class = "navbar-text pull-left">Site Built By Sandeep</p>
    <p class = "navbar-text pull-right">Thanks for visiting</p>
  </div>

</div>