<%= render "/home/shared/advanced_search" %>
<div class="container">
  <div class="row">
    <div class="span12">
        <% if params[:search].blank? %>
          <div class="center text-center" id="custom-search">
            <h2>Link Finder</h2>

            <p>Search for your needs, to get it download</p>

            <%= render "/home/shared/search_form" %>
        <% else %>
            <%= render "/home/shared/search_form" %>
        <% end %>
        <div id="new_results">
          <%= render "/home/shared/new_results" %>
          </div>

      </div>
    </div>
  </div>
</div>
