#custom-search {
    margin:0;
    margin-top: 50px;
    padding: 0;
}
#custom-search h2{
    color: firebrick;
}

#custom-search p{
    margin:20px;
    color: yellowgreen;
}

#custom-search-form {
      margin:0;
      margin-top: 5px;
      padding: 0;
  }

  #custom-search-form .search-query {
      padding-right: 5px;
      padding-right: 6px \9;
      padding-left: 5px;
      padding-left: 6px \9;
      /* IE7-8 doesn't have border-radius, so don't indent the padding */

      margin-bottom: 20px;
      margin-top: 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  #custom-search-form button {
      border: 0;
      background: none;
      /** belows styles are working good */
      padding: 2px 5px;
      margin-top: 22px;
      position: relative;
      left: -28px;
      /* IE7-8 doesn't have border-radius, so don't indent the padding */
      margin-bottom: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  .search-query:focus + button {
      z-index: 3;
  }

#custom-search-form input, textarea, .uneditable-input {
    width: 50%;
}

.m1{
    margin: 105px;
}

.danger{
    color: red;
}
h3{
    color: gray;
}

.highlight { background: #ff0; }

h5{
    color: indianred;
}
